<app-header></app-header>
<div class="card text-center">
    <div class="card-header">
      Acerca de
    </div>
    <div class="card-body">
      <h5 class="card-title">TempoTrack</h5>
      <p class="card-text">Somos un equipo de programadores dedicados en facilitarle la vida a las empresas.</p>
      <p class="card-text">Desarrollamos software para brindarle más herramientas a las empresas en el pro de la eficiencia.</p>
      <a href="/" class="btn btn-primary">Volver</a>
    </div>
  </div>
  <app-footer></app-footer>
